.taskCard{
    background: linear-gradient(145deg, rgb(59, 64, 70), rgb(22, 27, 34));
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 10px;
    gap: 8px;
    cursor: grab;
    touch-action: none;
}
.MP{
    background: color-mix(in srgb, rgb(247, 168, 74) 14%, transparent);
    color: rgb(247, 168, 74);     
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px 9px;
    border: 1px solid color-mix(in srgb, rgb(247, 168, 74) 90%, transparent);;
    border-radius: 10px;
    /* border-color: rgb(247, 168, 74); */
}
.HP{
    color: rgb(255, 94, 122); 
    background: color-mix(in srgb, rgb(255, 94, 122) 14%, transparent);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px 9px;
    border: 1px solid color-mix(in srgb, rgb(255, 94, 122) 90%, transparent);;
    border-radius: 10px;
}
.LP{
    color:  rgb(74 247 163); 
    background: color-mix(in srgb,  rgb(74 247 163) 14%, transparent);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px 9px;
    border: 1px solid color-mix(in srgb,  rgb(74 247 163) 90%, transparent);;
    border-radius: 10px;

}
.taskTitle{
    font-size: 20px ;
    font-weight: 600;
    margin:0 ;
    word-break: break-word;
}
.description{
    font-size: 15px;
    color: rgb(139, 148, 158);
    line-height: 1.5;
    max-height: 68px;
    word-break: break-word;
    /* overflow: hidden; */
}
.footer{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date{
    font-size: 11px;
    color: rgb(136, 136, 136)
}
.taskCard:hover{
    background: linear-gradient(145deg,rgb(22, 27, 34),rgb(59, 64, 70));
    transform: translateY(-3px);
    transition: transform .5s ease
}
.tool{
    display: flex;
    gap: 10px;
}
.edit{
    background: none;
    border: none;
}
.delete{
    background: none;
    border: none;
}
.edit:hover{
    background: rgb(40, 46, 54);    
    border-radius: 16px;
    cursor: pointer;
}
.delete:hover{
    background: rgb(40, 46, 54);
    border-radius: 16px;
    cursor: pointer;
}





.editor{
    display: flex;
    flex-direction: column;
    gap: 9px;
    border: 1px solid rgb(87, 86, 86);
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(31, 35, 41);
    
} 
.editText{
    display: flex;
    flex-direction: column;
    gap: 9px;
    
}
.editBtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 9px;
}
.editSave{
    background-color: rgb(124, 92, 255);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 7px 12px;
    cursor: pointer;
}
.editcancle{
    background-color: rgba(57, 63, 71,0.3);
    color: rgba(255, 255, 255,0.5);
    border: none;
    border-radius: 8px;
    padding: 7px 12px;
    cursor: pointer;
}
.editInp{
    padding: 4px;
    border-radius: 9px;
    border: 2px solid  rgb(48, 54, 61) ;
    background-color: rgb(13, 17, 23);
    color: rgba(230, 227, 227,0.9);
}
.editDesc{
    padding: 4px;
    border-radius: 9px;
    border: 2px solid  rgb(48, 54, 61) ;
    background-color: rgb(13, 17, 23);
    color: rgba(230, 227, 227,0.9);
    min-height: 40px ;
    resize: none;
}

